Projects/Engines/Znode.Engine.Taxes/Service References/CalculateTax70/VertexInc-AssetMovement1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:vertexinc:o-series:tps:7:0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:vertexinc:o-series:tps:7:0" version="7.0" xml:lang="en-us" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="../tax/VertexInc-Core.xsd" />
  <xsd:include schemaLocation="../tax/VertexInc-Common.xsd" />
  <xsd:annotation>
    <xsd:documentation>Copyright Vertex Inc. 2007-2012 All Rights Reserved</xsd:documentation>
  </xsd:annotation>
  <xsd:annotation>
    <xsd:documentation>Asset Movement transaction composite messages. Declaration of structure and data types.</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="LineItemAMIType">
    <xsd:annotation>
      <xsd:documentation>Line Item declaration for Asset Movement Request message.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Owner" type="OwnerType">
        <xsd:annotation>
          <xsd:documentation>The owner of the goods in the line item. Required (1) at either the Transaction level or the Line Item level. If Owner information is provided at both levels, the Line Item level information supersedes the Transaction level information.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="TaxOverride" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ImpositionToProcess" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="JurisdictionOverride" />
      <xsd:element minOccurs="0" ref="SitusOverride" />
      <xsd:element minOccurs="0" ref="Purchase" />
      <xsd:element minOccurs="0" ref="CommodityCode" />
      <xsd:element minOccurs="0" ref="Quantity" />
      <xsd:element minOccurs="0" ref="Weight" />
      <xsd:element minOccurs="0" ref="Volume" />
      <xsd:element minOccurs="0" ref="SupplementaryUnit" />
      <xsd:element minOccurs="0" ref="StatisticalValue" />
      <xsd:element minOccurs="0" ref="PreviousTaxPaid">
        <xsd:annotation>
          <xsd:documentation>This value represents the amount of taxes paid previously on the asset. This information is needed to determine reciprocity rules between jurisdictions.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="Cost" type="AmountType">
        <xsd:annotation>
          <xsd:documentation>This is the actual cost of the materials to the purchaser. In a manufacturing environment, this would be the cost of the actual materials purchased for resale from outside suppliers. Wholesalers and retailers would measure material cost by the cost of the property itself.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="NetBookValue" type="AmountType">
        <xsd:annotation>
          <xsd:documentation>Cost less depreciation. The depreciation method will be dependent on the state rules (straightline depreciation, declining depreciation, etc.).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalCost" type="AmountType">
        <xsd:annotation>
          <xsd:documentation>The value of the raw materials plus all other costs such as direct labor, transportation, and indirect materials consumed and charged to the product overhead, etc. (a.k.a. Standard Cost, Manufactured Cost, Total Manufacturer's Cost).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="FairMarketValue" />
      <xsd:element minOccurs="0" name="FairRentalValue" type="AmountType">
        <xsd:annotation>
          <xsd:documentation>This is the rental value of the property on the open market.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="ExtendedPrice" />
      <xsd:element minOccurs="0" ref="FlexibleFields" />
      <xsd:element minOccurs="0" ref="ReturnsFields" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="LineItem" type="LineItemAMIType">
        <xsd:annotation>
          <xsd:documentation>A sub-component (or child line item) of the transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="AssetMovementLineItemGroup" />
  </xsd:complexType>
  <xsd:complexType name="LineItemAMOType">
    <xsd:annotation>
      <xsd:documentation>Line Item declaration for Asset Movement Response message.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Owner" type="OwnerType">
        <xsd:annotation>
          <xsd:documentation>The owner of the goods in the line item.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="TaxOverride" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ImpositionToProcess" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="JurisdictionOverride" />
      <xsd:element minOccurs="0" ref="SitusOverride" />
      <xsd:element minOccurs="0" ref="Purchase" />
      <xsd:element minOccurs="0" ref="CommodityCode" />
      <xsd:element minOccurs="0" ref="Quantity" />
      <xsd:element minOccurs="0" ref="Weight" />
      <xsd:element minOccurs="0" ref="Volume" />
      <xsd:element minOccurs="0" ref="SupplementaryUnit" />
      <xsd:element minOccurs="0" ref="StatisticalValue" />
      <xsd:element minOccurs="0" name="PreviousTaxPaid" type="AmountType">
        <xsd:annotation>
          <xsd:documentation>This value represents the amount of taxes paid previously on the asset. This information is needed to determine reciprocity rules between jurisdictions.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="Cost" />
      <xsd:element minOccurs="0" name="NetBookValue" type="AmountType">
        <xsd:annotation>
          <xsd:documentation>Cost less depreciation. The depreciation method will be dependent on the state rules (straightline depreciation, declining depreciation, etc.).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="TotalCost" type="AmountType">
        <xsd:annotation>
          <xsd:documentation>The value of the raw materials plus all other costs such as direct labor, transportation, and indirect materials consumed and charged to the product overhead, etc. (a.k.a. Standard Cost, Manufactured Cost, Total Manufacturer's Cost).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="FairMarketValue" />
      <xsd:element minOccurs="0" name="FairRentalValue" type="AmountType">
        <xsd:annotation>
          <xsd:documentation>This is the rental value of the property on the open market.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="ExtendedPrice" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" ref="Taxes" />
      <xsd:element minOccurs="0" ref="TotalTax" />
      <xsd:element minOccurs="0" ref="FlexibleFields" />
      <xsd:element minOccurs="0" ref="ReturnsFields" />
      <xsd:element minOccurs="0" ref="AssistedParameters" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="LineItem" type="LineItemAMOType">
        <xsd:annotation>
          <xsd:documentation>A sub-component (or child line item) of the transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attributeGroup ref="AssetMovementLineItemGroup" />
  </xsd:complexType>
  <xsd:complexType name="AssetMovementRequestType">
    <xsd:annotation>
      <xsd:documentation>The request used to calculate consumer use tax on movement of fixed assets from one tax jurisdiction to another. Whenever an asset is moved, the use tax rates and rules for the new location must be compared with the use tax rates and rules for the old location. Various reciprocity rules, which vary by tax jurisdiction, may need to be applied in these situations. Two factors that can be used to determine reciprocity are duration at a location and the number of times that an asset was moved. Asset Movement transactions are written to the Tax Journal when additional use tax must be accrued at the new location.
</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="TaxTransactionRequestType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="Currency" />
          <xsd:element minOccurs="0" ref="OriginalCurrency" />
          <xsd:element minOccurs="0" name="Owner" type="OwnerType">
            <xsd:annotation>
              <xsd:documentation>The owner of the goods in the transaction. Required (1) at either the Transaction level or the Line Item level. If Owner information is provided at both levels, the Line Item level information supersedes the Transaction level information.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="TaxOverride" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ImpositionToProcess" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="JurisdictionOverride" />
          <xsd:element minOccurs="0" ref="SitusOverride" />
          <xsd:element maxOccurs="unbounded" name="LineItem">
            <xsd:annotation>
              <xsd:documentation>The header for a component of a transaction.  A line item is required for each component of the transaction. Each transaction requires at least one line item. Note that a line item can contain child line items.</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:complexContent mixed="false">
                <xsd:extension base="LineItemAMIType" />
              </xsd:complexContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="AssetMovementTransactionGroup" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AssetMovementResponseType">
    <xsd:annotation>
      <xsd:documentation>Asset Movement Response message.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent mixed="false">
      <xsd:extension base="TaxTransactionResponseType">
        <xsd:sequence>
          <xsd:element minOccurs="0" ref="Currency" />
          <xsd:element minOccurs="0" ref="OriginalCurrency" />
          <xsd:element minOccurs="0" name="Owner" type="OwnerType">
            <xsd:annotation>
              <xsd:documentation>The owner of the goods in the transaction.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" ref="TaxOverride" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="ImpositionToProcess" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" ref="JurisdictionOverride" />
          <xsd:element minOccurs="0" ref="SitusOverride" />
          <xsd:element minOccurs="0" ref="SubTotal" />
          <xsd:element minOccurs="0" ref="Total" />
          <xsd:element minOccurs="0" ref="TotalTax" />
          <xsd:element maxOccurs="unbounded" name="LineItem" type="LineItemAMOType">
            <xsd:annotation>
              <xsd:documentation>The header for a component of a transaction.  A line item is required for each component of the transaction. Each transaction requires at least one line item. Note that a line item can contain child line items.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:attributeGroup ref="AssetMovementTransactionGroup" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:attribute name="movementMethod" type="MovementMethodCodeType">
    <xsd:annotation>
      <xsd:documentation>Indicates how assets are moved. Valid values are CONSIGNMENT, CALL_OFF, and REGULAR. If no value is provided, the Calculation Engine defaults to REGULAR.
</xsd:documentation>
    </xsd:annotation>
  </xsd:attribute>
  <xsd:attributeGroup name="AssetMovementLineItemGroup">
    <xsd:attribute name="lineItemNumber" type="xsd:integer" use="optional">
      <xsd:annotation>
        <xsd:documentation>A line number for the line item. This number can be used as a reference in reports or in audits. If no line item number is supplied, a number will be assigned.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="taxDate" type="xsd:date" use="optional">
      <xsd:annotation>
        <xsd:documentation>The date on which the line item record was produced. This can also be represented as a PO line item date, a lease line item date, and so on. Defaults to the documentDate of the transaction.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="isMulticomponent" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Indicates whether the calculation engine calculates component-level max tax, where applicable. Amounts at the child level of the multi-component item are used for tax calculation. Amounts at the parent level are ignored. Set this attribute to true for line items at the parent level only. Line items at the child level remain false. Defaults to false.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="locationCode" use="optional">
      <xsd:annotation>
        <xsd:documentation>A value that can be used for tax return filing in jurisdictions that require taxes to be filed for individual retail locations.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="deliveryTerm" type="DeliveryTermCodeType" use="optional">
      <xsd:annotation>
        <xsd:documentation>An identifier that determines the vendor or customer jurisdiction in which the title transfer of a supply takes place. This is also known as Shipping Terms. Delivery Terms information could be critical to determine the place of supply, for example, in distance selling.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="postingDate" type="xsd:date" use="optional">
      <xsd:annotation>
        <xsd:documentation>The date when the transaction is posted for auditing and reporting purposes. If no date is provided, the Calculation Engine uses the date when the transaction was processed.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="costCenter" use="optional">
      <xsd:annotation>
        <xsd:documentation>A value that indicates a specific area of an organization generally related to functional or accounting areas.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="departmentCode" use="optional">
      <xsd:annotation>
        <xsd:documentation>A unique identifier that associates a line item to a department for purchasing purposes.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="generalLedgerAccount" use="optional">
      <xsd:annotation>
        <xsd:documentation>A value that is used with company's Chart of Accounts.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="materialCode" use="optional">
      <xsd:annotation>
        <xsd:documentation>A value that represents a specific item or product.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="projectNumber" use="optional">
      <xsd:annotation>
        <xsd:documentation>A unique identifier that associates a line item to a project for purchasing purposes.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="usage" use="optional">
      <xsd:annotation>
        <xsd:documentation>Directly identifies a usage by user-defined usage code.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="usageClass" use="optional">
      <xsd:annotation>
        <xsd:documentation>Directly identifies a usage class by user-defined usage class code.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="vendorSKU" use="optional">
      <xsd:annotation>
        <xsd:documentation>A value that represents a specific item or product SKU number.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="countryOfOriginISOCode" use="optional">
      <xsd:annotation>
        <xsd:documentation>The 3-digit ISO 3166 code of the country where the product was produced or manufactured.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="modeOfTransport" use="optional">
      <xsd:annotation>
        <xsd:documentation>A code that indicates the type of vehicle that transported the product across the country border. For a list of acceptable values, see the filing instructions for each country where you file an Intrastat report.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:positiveInteger">
          <xsd:maxInclusive value="99" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="natureOfTransaction" use="optional">
      <xsd:annotation>
        <xsd:documentation>A code that indicates the type of transaction being declared for Intrastat purposes. For a list of acceptable values, see the filing instructions for each country where you file an Intrastat report.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:positiveInteger">
          <xsd:minInclusive value="1" />
          <xsd:maxInclusive value="999" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="intrastatCommodityCode" use="optional">
      <xsd:annotation>
        <xsd:documentation>Used to classify the goods and services. For a list of acceptable values, see the filing instructions for each country where you file an Intrastat report.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{1,8}" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="netMassKilograms" type="xsd:integer" use="optional">
      <xsd:annotation>
        <xsd:documentation>The mass of the product in kilograms.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="lineItemId" use="optional">
      <xsd:annotation>
        <xsd:documentation>An identifier that further defines the line item and corresponds to the transaction stored in the host system. This parameter is needed to perform synchronization services, but it is not used for reporting purposes.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="exportProcedure" use="optional">
      <xsd:annotation>
        <xsd:documentation>The export procedure (sales) or import procedure (purchases) that 
is applied for INTRASTAT purposes.
</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="movementMethod" type="MovementMethodCodeType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Indicates how assets are moved. If no value is provided, the Calculation Engine defaults to REGULAR.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="recoverableDate" type="xsd:date" use="optional">
      <xsd:annotation>
        <xsd:documentation>The date used to calculate Recoverable Input VAT.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="blockingOverridePercent" type="PercentType" use="optional">
      <xsd:annotation>
        <xsd:documentation>The recoverable override percentage of the blocking override for the line item.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="partialExemptRecoverableOverridePercent" type="PercentType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Specifies the recoverable override percentage
 of a partial exemption on a line item level.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
  </xsd:attributeGroup>
  <xsd:attributeGroup name="AssetMovementTransactionGroup">
    <xsd:attribute name="documentNumber" use="optional">
      <xsd:annotation>
        <xsd:documentation>The document number in the host application that references the event.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="documentType" use="optional">
      <xsd:annotation>
        <xsd:documentation>The type of business document for the transaction. This field is on the transaction level. </xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="billingType" use="optional">
      <xsd:annotation>
        <xsd:documentation>The type of bill, such as invoice, credit or debit memo, or cancellation document. This field influences how the 
Calculation Engine processes the bill. This field is on the
transaction level.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="orderType" use="optional">
      <xsd:annotation>
        <xsd:documentation>The purpose of the order. This field influences how the Calculation Engine processes the order. This field is on the transaction level.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="postingDate" type="xsd:date" use="optional">
      <xsd:annotation>
        <xsd:documentation>The date when the transaction is posted for auditing and reporting purposes. If no date is provided, the Calculation Engine uses the date when the transaction was processed.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="locationCode" use="optional">
      <xsd:annotation>
        <xsd:documentation>A value that can be used for tax return filing in jurisdictions that require taxes to be filed for individual retail locations.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute name="returnAssistedParametersIndicator" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Indicates whether the response message should contain an additional structure that shows the elements/attributes that were changed by Tax Assist. This is for informational purposes only and contains no tax results.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="returnGeneratedLineItemsIndicator" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>If this indicator is set, the response message returns child line items that were generated by the Tax Assist allocation feature. Otherwise, these line items are deleted after the transaction is written to the Tax Journal and only the primary line item, which contains the combined tax results of the child line items, is passed back to the host system. </xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="deliveryTerm" type="DeliveryTermCodeType" use="optional">
      <xsd:annotation>
        <xsd:documentation>An identifier that determines the vendor or customer jurisdiction in which the title transfer of a supply takes place. This is also known as Shipping Terms. Delivery Terms information could be critical to determine the place of supply, for example, in distance selling.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="documentDate" type="xsd:date" use="required">
      <xsd:annotation>
        <xsd:documentation>The actual date of the requested action. The calculation engine uses this date to determine the valid tax rates and rules.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="transactionId" use="optional">
      <xsd:annotation>
        <xsd:documentation>An identifier that further defines the document and corresponds to the transaction stored in the host system. The Transaction ID is used for synchronization services, but is not used for reporting purposes.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
    <xsd:attribute default="true" name="postToJournal" type="xsd:boolean">
      <xsd:annotation>
        <xsd:documentation>Indicates whether the results of the transaction are written to the Tax Journal. Defaults to true.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="movementMethod" type="MovementMethodCodeType" use="optional">
      <xsd:annotation>
        <xsd:documentation>Indicates how assets are moved. If no value is provided, the Calculation Engine defaults to REGULAR.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="recoverableDate" type="xsd:date" use="optional">
      <xsd:annotation>
        <xsd:documentation>The date used to calculate Recoverable Input VAT.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="roundAtLineLevel" type="xsd:boolean" use="optional">
      <xsd:annotation>
        <xsd:documentation>Indicates whether the Calculation Engine performs the rounding process at the Line Item Level. Default value is False.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="paymentDate" type="xsd:date" use="optional">
      <xsd:annotation>
        <xsd:documentation>The date the purchaser paid for the product. If the purchaser pays for the product but physically receives it at a later date, Vertex O Series uses this field for returns and reporting for your tax type.  This field is also used in cash accounting.</xsd:documentation>
      </xsd:annotation>
    </xsd:attribute>
    <xsd:attribute name="documentSequenceId" use="optional">
      <xsd:annotation>
        <xsd:documentation>Supports reporting and the document sequence identifier used by your ERP system. Some countries require that documents follow a unique sequential sequence number, depending on the registration type and the type of invoice. Use this field for audit purposes to track the sequence of your documents. This field is used in European Union (EU) countries.</xsd:documentation>
      </xsd:annotation>
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:attributeGroup>
</xsd:schema>